/* Variables */
:root {
  --color-primary: hsl(4, 100%, 67%);
  --color-dark-grey: hsl(234, 29%, 20%);
  --color-charcoal: hsl(235, 18%, 26%);
  --color-grey: hsl(231, 7%, 60%);
  --color-white: hsl(0, 0%, 100%);
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

p {
  font-size: 16px;
}

.success-container {
  height: 100%;
  padding: 0 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.success-icon {
  width: 5rem;
  height: 5rem;
}

.success-message {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--color-dark-grey);
  margin-top: 15rem;
}

.thank-you {
  font-size: 3.5rem;
  line-height: 3.5rem;
}

.user-email {
  font-weight: 700;
}

.dismiss {
  text-decoration: none;
  background: var(--color-dark-grey);
  color: var(--color-white);
  padding: 1.5rem;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 4rem;
}

/* Success Transition between mobile and desktop view */

@media (min-width: 500px) {
  body {
    background: var(--color-charcoal);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .success-container {
    background: var(--color-white);
    /* padding: 2rem;
      border-radius: 25px; */
  }
}

/* Success Page for Desktop */
@media (min-width: 930px) {
}

/* Helper classes */

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}
