/* Variables */
:root {
  --color-primary: hsl(4, 100%, 67%);
  --color-dark-grey: hsl(234, 29%, 20%);
  --color-charcoal: hsl(235, 18%, 26%);
  --color-grey: hsl(231, 7%, 60%);
  --color-white: hsl(0, 0%, 100%);
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

p {
  font-size: 16px;
}

.success-container {
  height: 100%;
  padding: 0 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.success-icon {
  width: 5rem;
  height: 5rem;
}

.success-message {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--color-dark-grey);
  margin-top: 15rem;
}

.thank-you {
  font-size: 3.5rem;
  line-height: 3.5rem;
}

.user-email {
  font-weight: 700;
}

.dismiss {
  text-decoration: none;
  background: var(--color-dark-grey);
  color: var(--color-white);
  padding: 1.5rem;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 4rem;
}

/* Post Mobile View */
@media (min-width: 500px) {
  body {
    background: var(--color-charcoal);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    font-size: 1.8rem;
  }

  .success-container {
    background: var(--color-white);
    border-radius: 25px;
    max-width: 550px;
    max-height: 550px;
    padding: 5rem 6rem;
    box-shadow: 0 2rem 2rem 2rem rgba(0, 0, 0, 0.1);
  }

  .success-icon {
    height: 6rem;
    width: 6rem;
  }

  .thank-you {
    font-size: 6rem;
    line-height: 6rem;
  }

  .success-message {
    margin-top: 0;
    gap: 2.5rem;
    margin-bottom: 4rem;
  }

  .dismiss {
    padding: 2rem;
  }
}
/* Only for devices that support hover with a fine pointer (mouse or stylus)*/
@media (hover: hover) and (pointer: fine) {
  .dismiss:hover {
    background: linear-gradient(90deg, rgba(255, 82, 123, 255), var(--color-primary));
    box-shadow: 0 1rem 1rem 1rem rgba(255, 98, 87, 0.22);
  }
}

/* Helper classes */

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}
