*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 3.0rem;
}

.navbar{
    list-style: none;
}

.nav-link:link, .nav-link:visited{
    text-decoration: none;
    color: #4dabf7;
    /* transition: all 0.3s; */
    position: relative;
}

.nav-link:after{
    content: '';
    position:absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #4dabf7;
    bottom: -3px;
    transform: scaleX(0);
    transition: all 0.3s;
    transform-origin: left;
}

.nav-link:hover:after{
    transform: scaleX(1);
}
