/* Variables */
$blue: hsl(246, 80%, 60%);
$soft-orange: hsl(15, 100%, 70%);
$soft-blue: hsl(195, 74%, 62%);
$light-red: hsl(348, 100%, 68%);
$lime-green: hsl(145, 58%, 55%);
$violet: hsl(264, 64%, 52%);
$yellow: hsl(43, 84%, 65%);

$very-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$desaturated-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);
$white: #fafafa;

body {
  font-family: "Rubik", sans-serif;
  color: $white;
}

main {
  padding: 2rem;
  width: 355px;
  height: 100%;
  background: $very-dark-blue;
  display: grid;
  gap: 2rem;
}

/* Cards */
.card {
  position: relative;
  height: 16rem;
  border-radius: 10px;
}

.details:hover {
  background: $desaturated-blue;
  cursor: pointer;
}

.details {
  background: $dark-blue;
  height: 75%;
  position: absolute;
  width: 100%;
  bottom: 0%;
  border-radius: 10px;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .title {
    font-size: 1.8rem;
    font-weight: 500;
    align-self: center;
  }
  .time {
    font-weight: 300;
    font-size: 2.8rem;
    align-self: center;
  }
  .last-week {
    justify-self: end;
    align-self: center;
    font-size: 1.2rem;
    color: $pale-blue;
  }
  button {
    border: none;
    background: none;
    justify-self: end;
  }
}

/* Profile Card */
.profile-card {
  height: 20rem;
  background: $dark-blue;
  img {
    height: 80px;
    width: 80px;
    border: 2px solid white;
    border-radius: 50px;
    grid-row-start: span 2;
    align-self: center;
    justify-self: center;
  }
  .profile {
    background: $blue;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 1rem;
    height: 70%;
    p {
      font-size: 2.2rem;
      justify-self: start;
    }
    p:first-of-type {
      color: $pale-blue;
      font-size: 1.6rem;
      align-self: end;
    }
  }
  .timeframes {
    display: flex;
    padding: 1rem;
    font-size: 1.6rem;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    color: $pale-blue;
    p:hover {
      color: $white;
      cursor: pointer;
    }
  }
}

.work-card {
  background: no-repeat url("../images/icon-work.svg"), $soft-orange;
  background-position: 90% -14%;
}
.play-card {
  background: no-repeat url("../images/icon-play.svg"), $soft-blue;
  background-position: 90% -4%;
}
.study-card {
  background: no-repeat url("../images/icon-study.svg"), $light-red;
  background-position: 90% -5%;
}
.exercise-card {
  background: no-repeat url("../images/icon-exercise.svg"), $lime-green;
  background-position: 90% 0;
}
.social-card {
  background: no-repeat url("../images/icon-social.svg"), $violet;
  background-position: 90% -20%;
}
.self-care-card {
  background: no-repeat url("../images/icon-self-care.svg"), $yellow;
  background-position: 90% -10%;
}
